@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'fonts.css';

@import 'tailwind-components/modal.css';

.wp-block {
	max-width: 100%;
}

.edit-post-sidebar {
	min-width: 35vw;
}

/* .glide__bullet--active {
    @apply bg-red transition-all;
} */

#tinymce {
	@apply !p-4 focus:outline-none;
}

#tinymce .text-white {
	-webkit-text-stroke: 1px black;
}

@media (min-width: 1800px) {
	#pxMainContent .container {
		max-width: 1800px;
	}
}

@layer base {
	body:not(.wp-admin) {
		@apply font-serif;
	}

	h1,
	.h1,
	h2,
	.h2,
	h3,
	.h3,
	h4,
	.h4,
	h5,
	.h5,
	h6,
	.h6,
	.heading {
		@apply font-heading uppercase tracking-[2px];
	}

	p {
		@apply text-lg mb-6 last:mb-0;
	}

	h1,
	.h1 {
		@apply text-4xl lg:text-5xl;
	}

	h2,
	.h2 {
		@apply text-2xxl lg:text-4xl;
		line-height: 1.1;
	}

	h3,
	.h3 {
		@apply text-xl lg:text-2xl;
	}

	h4,
	.h4 {
		@apply lg:text-lg;
	}

	h5,
	.h5 {
		@apply text-sm lg:text-base;
	}

	h6,
	.h6 {
		@apply text-xs;
	}

	ol {
		@apply list-decimal;
	}

	.h-display {
		@apply heading text-4xxl leading-jumbo lg:text-7xl lg:leading-jumbo;
	}

	.p1 {
		@apply lg:text-lg font-serif;
	}

	.headline {
		@apply text-8xl lg:text-headline leading-jumbo tracking-widest mb-6 lg:mb-12;
	}

	.lead {
		@apply text-2xxl font-bold leading-tight lg:text-4xl;
	}

	.h-overline {
		@apply heading text-xs tracking-wider;
	}

	.transition-expo {
		@apply transition-all ease-out-expo duration-700;
	}

	.absolute-bg-media {
		@apply absolute top-0 left-0 z-0 pointer-events-none w-full h-full object-cover object-center;
	}

	.quote {
		@apply italic text-2xl leading-[1.4] lg:text-4xxl;
	}

	.quote-2 {
		@apply italic text-2xl lg:text-3xl;
	}

	.stat {
		@apply font-heading text-4xxl lg:text-5xxl uppercase;
	}
	.wysiwyg h3 {
		@apply mb-4 lg:mb-7;
	}
	.stat-list ul {
		@apply grid grid-cols-1 gap-10 md:grid-cols-2 my-10;
	}

	.stat-list ul li {
		@apply pl-4 pt-5 pb-0 border-l-2 border-l-tan;
	}

	.quote--bg img {
		@apply absolute top-0 left-0 object-cover h-full;
	}

	.bg--cont-img img {
		@apply absolute top-0 left-0 object-cover h-full w-full;
	}
}

@layer components {
	.opened .line1 {
		stroke-dasharray: 90 207;
		stroke-dashoffset: -134;
		stroke-width: 6;
	}
	.opened .line2 {
		stroke-dasharray: 1 60;
		stroke-dashoffset: -30;
		stroke-width: 6;
	}
	.opened .line3 {
		stroke-dasharray: 90 207;
		stroke-dashoffset: -134;
		stroke-width: 6;
	}

	.btn {
		@apply heading relative z-10 inline-block border-2 border-transparent px-7 py-3 lg:px-6 lg:py-2 transition  w-full lg:w-auto text-center my-6 text-[20px] tracking-wider;
	}

	.btn-primary {
		@apply btn border-red bg-red text-white hover:border-red-accent hover:bg-red-accent;
	}

	.btn-primary-reversed {
		@apply btn border-white bg-white text-red hover:border-red-accent hover:bg-red-accent hover:text-white;
	}

	.btn-outline {
		@apply btn bg-transparent text-white border-white hover:text-red hover:bg-white;
	}
	.btn-secondary {
		@apply btn border-red text-red hover:border-red-accent hover:bg-red-accent hover:text-white;
	}

	.btn-finger-white {
		@apply inline-flex items-center pl-3 before:inline-block before:w-4 before:h-4 before:bg-no-repeat before:bg-contain before:bg-fingerRightWhite before:mr-2;
	}

	.btn-finger-red {
		@apply inline-flex items-center p-0 after:bg-no-repeat after:bg-contain after:bg-fingerLeftRed after:m-0 after:w-[20px] after:h-[20px];
	}

	.block-preview-label {
		@apply absolute right-2 top-2 rounded-sm bg-black p-1 px-3 text-xs font-bold uppercase leading-none text-white;
	}
	.brand-img {
		@apply w-auto h-[180px] relative block overflow-hidden before:content-[''] before:block before:pb-[100%];
	}
	.brand-img img {
		@apply absolute top-0 left-0 object-contain h-[85%] w-full;
	}

	.finger-red {
		@apply inline-flex items-center p-0 after:bg-no-repeat after:bg-contain after:bg-fingerLeftRed after:m-0 after:w-[20px] after:h-[20px] justify-end;
	}
	.single-post:not(.section-brand) a:not(.btn) {
		@apply text-red underline underline-offset-4 hover:text-red-accent;
	}

	.media--full iframe,
	.media--full video {
		@apply w-full lg:min-h-[75vh];
	}
	.stat-list p:first-of-type {
		@apply mt-6;
	}

	.wysiwyg ul {
		@apply ml-6 list-disc mb-6;
	}

	.wysiwyg ol {
		@apply list-decimal ml-6 mb-6;
	}
}

.skip_to_main_link {
	display: block;
	width: 1px;
	height: 1px;
	overflow: hidden;
	position: fixed;
	border-bottom: 1px solid #333;
	top: 0;
	left: 0;
	right: 0;
	background-color: #fff;
	z-index: 1000;
	color: $black;
	font-weight: bold;
	font-size: 18px;
}

.skip_to_main_link:focus {
	padding: 20px 40px;
	width: 100%;
	height: auto;
}
